In [23]:
import numpy as np
import pandas as pd

In [2]:
data= open('LLCP2020.asc', 'r')

In [3]:
dr = data.read()

In [ ]:
form = pd.read_csv(../'format.csv')

In [32]:
form.columns=['Start_Col, Var_Name, Length]

In [47]:
array_name=['array_'+str(form.loc[i,'Var_Name']) for i in range(len(form))]

In [52]:
dr_lines=dr.split('\n');

In [63]:
array_name[0]=[dr_lines[j][form.loc[0,'Start_Col']-1:form.loc[0,'Start_Col']-1+form.loc[0,'Length']] for j in range(len(dr_lines))]
table = pd.DataFrame({str(form.loc[0,'Var_Name']):array_name[0]})

In [81]:
for i in range(1,len(form)):
    array_name[i]=[dr_lines[j][form.loc[i,'Start_Col']-1:form.loc[i,'Start_Col']-1+form.loc[i,'Length']] for j in range(len(dr_lines))]
    table[str(form.loc[i,'Var_Name'])]=array_name[i]

In [83]:
table.to_csv('LLCP2020.csv')

In [82]:
table.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_RFPSA23,_CLNSCPY,_SGMSCPY,_SGMS10Y,_RFBLDS4,_STOLDNA,_VIRCOLN,_SBONTIM,_CRCREC1,_AIDTST4
0,01,01,01042020,01,04,2020,1100,2020000001,2020000001,1,...,,1,3,3,3,3,3,3,1,1
1,01,01,02072020,02,07,2020,1200,2020000002,2020000002,1,...,,,,,,,,2,,
2,01,01,01232020,01,23,2020,1100,2020000003,2020000003,1,...,,1,3,3,3,3,3,3,1,2
3,01,01,01092020,01,09,2020,1100,2020000004,2020000004,1,...,,,,,,,,,,2
4,01,01,01042020,01,04,2020,1100,2020000005,2020000005,1,...,,,,,,,,,,9