In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv('LLCP2020.csv', low_memory=False)
data = data.drop('Unnamed: 0', axis=1)
data=data.dropna()

In [5]:
data.columns

Index(['_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR', 'DISPCODE',
       'SEQNO', '_PSU', 'CTELENM1',
       ...
       '_RFPSA23', '_CLNSCPY', '_SGMSCPY', '_SGMS10Y', '_RFBLDS4', '_STOLDNA',
       '_VIRCOLN', '_SBONTIM', '_CRCREC1', '_AIDTST4'],
      dtype='object', length=279)

In [6]:
data.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_RFPSA23,_CLNSCPY,_SGMSCPY,_SGMS10Y,_RFBLDS4,_STOLDNA,_VIRCOLN,_SBONTIM,_CRCREC1,_AIDTST4
0,1.0,1.0,1042020.0,1.0,4.0,2020.0,1100.0,2.020000e+09,2.020000e+09,1,...,,1,3,3,3,3,3,3,1,1
1,1.0,1.0,2072020.0,2.0,7.0,2020.0,1200.0,2.020000e+09,2.020000e+09,1,...,,,,,,,,2,,
2,1.0,1.0,1232020.0,1.0,23.0,2020.0,1100.0,2.020000e+09,2.020000e+09,1,...,,1,3,3,3,3,3,3,1,2
3,1.0,1.0,1092020.0,1.0,9.0,2020.0,1100.0,2.020000e+09,2.020000e+09,1,...,,,,,,,,,,2
4,1.0,1.0,1042020.0,1.0,4.0,2020.0,1100.0,2.020000e+09,2.020000e+09,1,...,,,,,,,,,,9

In [7]:
# _SEX  ## Male = 1 , Female = 2
# DIABAGE3 # How old were you when you were told you had diabetes 0-97 : 98-99 refused or not known
# LCSFIRST : How old were you when you first started to smoke cigarettes regularly: 1-100, otherwise refused
#  LCSLAST : How old were you when you last smoked cigarettes regularly? 1-100, otherwise refused
#  CNCRAGE  : At what age were you told that you had cancer? 1-97, otherwise refused
#  _HCVU651 : Healthcare coverage : 1 = Has, 2 = Does not have, 9 = refused
#  _AGEG5YR : Age category: 1 to 13 : age : 18-99, 14 means refused
#  _AGE65YR : 2 category age group : 18-64 = 1, above 64 = 2, 3= refused
#  _AGE_G : Six-level imputed age category : value 1-6
#  _PRACE1 : Race in 1-8 values, other values refused or missing
#  _MRACE1 : Race calcuated 1-7 values, other values refused or missing
# SMOKE100 : Smoked atleast 100 cigs in life : 1= Yes, other values No or refused
# SMOKDAY2: Do you smoke now. 1= Everyday, 2= Someday, other values = refused or don't know 
# LASTSMK2: When did you last smoked.values 1-7, other values = refused or not applicable
#  LCSNUMCG: When you smoked how many cigs daily: 1-300, other values = refused or not applicable
#  _SMOKER3 : Four-level smoker status: Everyday smoker(1), Someday smoker(2), Former smoker(3), Non-smoker(4): value 9 = refused
#  _RFSMOK3: Adults who are current smokers: No(1), Yes(2), other value = refused or NA
#  CVDINFR4 :  had a heart attack, also called a myocardial infarction? Yes: 1, other values : no or refused or NA
#  CVDCRHD4: had angina or coronary heart disease? Yes: 1, other values : no or refused or NA
#  CVDSTRK3 : Had stroke? Yes: 1, other values : no or refused or NA
#  DIABETE4 : Had diabetes: Yes: 1, other values : no or refused or NA
#  DIABAGE3 : Age when you got diabetes: value 1-97 , other values : no or refused or NA
#  _MICHD : Calculated variable of having coronary disease: has cardiac problem = 1, no = 2, ' ' = refused
#  _RACE : Race calcuated 1-8 values, other values refused or missing
# WTKG3 : Weight in Kg

In [9]:
df= data[['_SEX', '_HCVU651','_AGEG5YR', '_RACE', 'WTKG3','SMOKE100','SMOKDAY2','LCSNUMCG','DIABETE4','CVDINFR4','CVDCRHD4','CVDSTRK3','_TOTINDA','_RFDRHV7', 'SLEPTIM1'
]]

In [10]:
df.head()

,_SEX,_HCVU651,_AGEG5YR,_RACE,WTKG3,SMOKE100,SMOKDAY2,LCSNUMCG,DIABETE4,CVDINFR4,CVDCRHD4,CVDSTRK3,_TOTINDA,_RFDRHV7,SLEPTIM1
0,2.0,2.0,8.0,1,04808,1,1,,1,2,2,2,1.0,1.0,05
1,2.0,9.0,10.0,2,07711,,,,3,2,2,2,1.0,9.0,07
2,2.0,9.0,10.0,2,,2,,,3,2,2,2,1.0,1.0,07
3,2.0,9.0,13.0,1,,2,,,3,2,2,2,2.0,1.0,06
4,2.0,9.0,13.0,1,05715,2,,,3,2,2,1,1.0,1.0,07

In [11]:
# df.loc[:,'_SEX']=df['_SEX'].astype(int)
# df['_AGEG5YR']=df['_AGEG5YR'].astype(int)

In [12]:
df['_AGEG5YR'].replace(to_replace=14, value= df['_AGEG5YR'].mode(), inplace=True)

/home/arindam/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [13]:
df['_HCVU651']= df['_HCVU651'].astype(int)
df['_HCVU651'].replace(to_replace=9, value= 2, inplace=True)

<ipython-input-13-326fac563de5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['_HCVU651']= df['_HCVU651'].astype(int)

In [14]:
# _HCVU651 : replace the refused(9) with does not have (2)

In [15]:
df['_RACE'].replace(to_replace=' ', value= int(1), inplace=True)
#df['_RACE'].value_counts()

In [16]:
for i in range(len(df['WTKG3'])):
    if len(df.loc[i,'WTKG3']) > 5:
        print(df.loc[i,'WTKG3'])

In [17]:
df['WTKG3'].replace(to_replace='     ', value= np.nan, inplace=True)

In [18]:
df['WTKG3']=df['WTKG3'].astype(float)

<ipython-input-18-9974cbb384e5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['WTKG3']=df['WTKG3'].astype(float)

In [19]:
df['WTKG3'].replace(to_replace= np.nan, value= df['WTKG3'].mean(), inplace=True)

In [20]:
df['WTKG3'] = df['WTKG3']/100

<ipython-input-20-a85aef22942e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['WTKG3'] = df['WTKG3']/100

In [21]:
df['SMOKE'] = data['_SMOKER3'].astype(int)

<ipython-input-21-b74b2ce761c7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SMOKE'] = data['_SMOKER3'].astype(int)

In [22]:
df = df.drop('SMOKE100', axis=1)

In [23]:
df = df.drop(['SMOKDAY2', 'LCSNUMCG'], axis=1);

In [24]:
df['SMOKE'].replace(to_replace=9, value= 4, inplace=True)

In [25]:
df['DIABETE4'].replace(to_replace=' ', value= 0, inplace=True)

In [26]:
df['DIABETE4'].replace(to_replace=['2','3','4','7','9'], value= 0, inplace=True)

In [27]:
df['DIABETE4']=df['DIABETE4'].astype(int)

In [28]:
df= df.drop(['CVDINFR4','CVDCRHD4','CVDSTRK3'], axis=1)

In [29]:
df['MICHD'] = data['_MICHD']

In [30]:
df['MICHD'].replace(to_replace=' ', value= 0, inplace=True)

In [31]:
df['MICHD'].replace(to_replace='2', value= 0, inplace=True)

In [32]:
df['MICHD'] = df['MICHD'].astype(int)

In [33]:
df['HEIGHT']= data['HTM4']

In [34]:
df['HEIGHT'].replace(to_replace='   ', value= np.nan, inplace=True)

In [35]:
df['HEIGHT'] = df['HEIGHT'].astype(float) 
df['HEIGHT'].replace(to_replace=np.nan, value= df['HEIGHT'].mean(), inplace=True)

In [36]:
df = df[df['SLEPTIM1'] != '  ']

In [37]:
df['SLEPTIM1'] = df['SLEPTIM1'].astype(int)

In [38]:
df = df[(df['SLEPTIM1'] !=99) & (df['SLEPTIM1'] !=99) ]

In [40]:
df=df[df['_AGEG5YR']!=14]

In [41]:
df.to_csv('wrangled_data.csv')